@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

@section Scripts
{
    <link href="~/css/create.css" rel="stylesheet" />
    <script src="~/js/create.js" async type="text/javascript" asp-append-version="true"></script>
}

<div>
    <input type="text" placeholder="Title" id="title" />
</div>
<div>
    <textarea id="content" placeholder="Content"></textarea>
</div>
<div>
    <button type="submit" id="create">Save</button>
</div>
