@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@section Scripts
{
    <link href="~/css/post-index.css" rel="stylesheet"/>
}

<main>
    <ul>
        <li>
            <a class="title">测试博客标题</a>
            <p>测试博客内容摘要</p>
        </li>
        <li>
            <a class="title">测试博客标题</a>
            <p>测试博客内容摘要</p>
        </li>
        <li>
            <a class="title">测试博客标题</a>
            <p>测试博客内容摘要</p>
        </li>
        <li>
            <a class="title">测试博客标题</a>
            <p>测试博客内容摘要</p>
        </li>
        <li>
            <a class="title">测试博客标题</a>
            <p>测试博客内容摘要</p>
        </li>
    </ul>
</main>
