@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@using Start.Blog.Models
@model List<Post>

@section Scripts
{
    <link href="~/css/post-index.css" rel="stylesheet" />
    <script src="~/js/index.js" type="text/javascript" async asp-append-version="true"></script>
}

<main>
    @if(Model.Any())
    {
        <ul>
            @foreach(var post in Model)
            {
                <li class="post-item" data-id="@post.Id">
                    <a class="title" data-id="@post.Id">@post.Title</a>
                    <p>@post.Content[..(post.Content.Length / 2)]</p>
                </li>
            }
        </ul>
    }
    else
    {
        <p style="margin-left:10px;">没有帖子可显示</p>
    }
</main>
