<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Hobo's Blog</title>
    <link href="~/css/global.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <script src="~/components/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <a class="logo" href="#">Hobo's Blog</a>
        <div class="login-form">
            <button class="login">Login</button>
            <button class="register">Register</button>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts",required: false)
</body>
</html>