@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="login-container">
    <div id="loginForm" class="loginForm">
        <input type="text" placeholder="Username" id="username">
        <input type="password" placeholder="Password" id="password">
        <button type="submit" id="BtnLogin">Login</button>
    </div>
</div>

